<!DOCTYPE html>
<html lang="en">
<head>

  <title>To-Do List</title>
  <link rel="stylesheet" type="text/css" href="/static/about.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          
        </ul>
      </nav>
    <div class="content">
        <h1>MakeNote</h1>
        <p>The To-Do App is a simple and efficient tool designed to help you manage your tasks effectively. With this app, you can create a list of tasks, mark them as completed, and easily track your progress.</p>
        <p>Key features of the To-Do App:</p>
        <ul>
          <li>Create new tasks and add them to your to-do list</li>
          <li>Mark tasks as completed to keep track of your progress</li>
          <li>Remove completed tasks to keep your list organized</li>
          <li>Responsive and user-friendly interface for a seamless experience on desktop and mobile devices</li>
        </ul>
        <p>Stay organized, boost your productivity, and accomplish your goals with the To-Do App!</p>
    </div>
    

  <script src="/static/index.js"></script>
</body>
</html>
