<!DOCTYPE html>
<html lang="en">
<head>

  <title>To-Do List</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
        <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          </ul>
          
      </nav>
      <header style="font-family: 'Lexend Peta', sans-serif;font-size: 40px;">MakeNote</header><br>
      <h1>To-Do List</h1>
      <h5>Manage Your Daily Tasks</h5>

  <div id="tasks-container">
    <input type="text" id="task-input" placeholder="Enter a task">
    <button id="add-task-btn">Add Task</button>
    <ul id="task-list"></ul>
  </div>

  <script src="/static/index.js"></script>
</body>
</html>
